In [10]:
import pandas as pd
import numpy as np

#### fillna()
Fill NA/NaN values using the specified method.
https://blog.csdn.net/weixin_39549734/article/details/81221276

In [2]:
# pandas.core.groupby.DataFrameGroupBy.fillna
# pandas.api.extensions.ExtensionArray.fillna
# pandas.DataFrame.fillna
# pandas.Index.fillna
# pandas.Panel.fillna
# pandas.Series.fillna
# pandas.SparseArray.fillna
# pandas.arrays.DatetimeArray.fillna 
# pandas.arrays.IntegerArray.fillna
# pandas.arrays.IntervalArray.fillna
# pandas.arrays.PandasArray.fillna
# pandas.arrays.TimedeltaArray.fillna
# pandas.core.resample.Resampler.fillna
df = pd.DataFrame([[np.nan, 2, np.nan, 0],[3, 4, np.nan, 1],[np.nan, np.nan, np.nan, 5],[np.nan, 3, np.nan, 4]],columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [3]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [4]:
df.fillna(method='ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  5
3  3.0  3.0 NaN  4

In [5]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5
3  0.0  3.0  2.0  4

In [6]:
df.fillna(value=values, limit=1)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  NaN  1
2  NaN  1.0  NaN  5
3  NaN  3.0  NaN  4

#### Series()
One-dimensional ndarray with axis labels (including time series).

In [7]:
# pandas.Series

#### SparseArray()
An ExtensionArray for storing sparse data.

In [12]:
# pandas.SparseArray

#### density
The percent of non- fill_value points, as decimal.

In [14]:
# pandas.Series.sparse.density
# pandas.SparseArray.density
s = pd.SparseArray([0, 0, 1, 1, 1], fill_value=0)
s.density

0.6

#### to_dense()
Return dense representation of NDFrame (as opposed to sparse).

In [ ]:
# pandas.DataFrame.to_dense
# pandas.Panel.to_dense